.header{
    padding: 30px 0;

    @media only screen and (max-width : 940px) {
        padding: 20px 0;
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__logo{
            color: black;
            margin-right: 20px;
            font-size: 40px;
            font-weight: bold;
        }

        .header__nav.nav{
            position: relative;

            .nav__items{
                display: flex;
                align-items: center;
                gap: 20px;

                .nav__item{
                    position: relative;
                    
                    .nav__link{
                        color: black;
                        position: relative;
                        font-weight: bold;
                        

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            height: 2px;
                            width: 30px;
                            background-color: transparent;
                            transition: all .5s ease 0s;
                        }

                        &.active, &:hover {
                            &:after {
                                background-color: black;
                            }
                        }
                    }
                }
            }
            .nav__sublist{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 30px;
                padding: 20px;
                background-color: $primary;
                transition: all .5s ease 0s;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }

                li{
                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    a{
                        color: white;
                        &:before{
                            border-bottom: 1px solid white;
                        }
                        
                    }
                }
            }

            .mobile__menu {
                display: none;
            }
    
            @media only screen and (max-width : 940px) {
                flex: 1 0 auto;
    
                .mobile__menu {
                    flex: 1 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 3px;
    
                    i {
                        font-size: 2rem;
                    }
                }
    
                .nav__items{
                    opacity: 0;
                    visibility: hidden;
                    background-color: $primary;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    padding: 20px;
                    position: absolute;
                    top: 40px;
                    left: 0;
                    z-index: 1;
                    min-width: 150px;
                    transition: all .5s ease 0s;
    
                    &.show {
                        opacity: 1;
                        visibility: visible;
                    }
    
                    .nav__item{
                        position: relative;
                        
                        .nav__link{
                            color: white;
                            font-weight: normal;

                            &:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -3px;
                                height: 2px;
                                width: 30px;
                                background-color: transparent;
                                transition: all .5s ease 0s;
                            }
    
                            &.active, &:hover {
                                &:after {
                                    background-color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .auth {
            position: relative;

            .auth__items {
                opacity: 0;
                visibility: hidden;
                background-color: $primary;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px;
                position: absolute;
                top: 30px;
                left: 0;
                z-index: 1;
                width: 100%;
                transition: all .5s ease 0s;

                &.show {
                    opacity: 1;
                    visibility: visible;
                }

                .auth__item {
                    position: relative;
                
                    .auth__link {
                        color: white;

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            height: 2px;
                            width: 30px;
                            background-color: transparent;
                            transition: all .5s ease 0s;
                        }

                        &.active, &:hover {
                            &:after {
                                background-color: white;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width : 940px) {
                i {
                    font-size: 1.5rem;
                    margin-right: 10px;
                }

                span {
                    display: none;
                }

                .auth__items{
                    right: 0;
                    left: auto;
                    width: auto;
                }
            }
        }

        
    }
}