.section.product{
    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .product__img-container.img{
            flex: 1 1 45%;

            display: flex;
            align-items: center;
            gap: 20px;

            .img__items{
                width: 150px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                overflow: auto;

                .img__item {
                    border: 5px solid transparent;
                    border-radius: 50%;
                    padding: 5px;
                    transition: all .5s ease 0s;
                    cursor: pointer;

                    img {
                        width: 100%;
                        border-radius: 50%;
                    }

                    &:hover {
                        border: 5px solid #e1e1e1;
                    }

                    &.active {
                        border: 5px solid #574e48;
                    }
                    
                }
            }

            .img__big{

                img{
                    width: 100%;
                }
            }
        }

        .product__title-container{
            flex: 0 1 35%;

            @media only screen and (max-width : 650px) {
                flex: 0 1 100%;
            }

            .product__info.info {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 40px;
                font-size: 1.3rem;

                button {
                    background-color: #f0f0f0;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .5s ease 0s;
                    border: 2px solid white;

                    .bi-heart {
                        position: relative;
                        top: 2px;
                    }

                    &.active {
                        background-color: $primary;
                        color: white;
                    }

                    &:hover {
                        background-color: $primary;
                        color: white;
                        box-shadow: 0 0 0 3px $primary;
                    }
                }

                .info__rating {
                    display: flex;
                    gap: 5px;
                    color: #e0c427;
                }
            }

            .product__title{
                font-size: 2rem;
                line-height: 2rem;
                margin-bottom: 20px;
                font-weight: bold;
            }

            .product__quantity{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;

                .quantity__title{
                    opacity: .5;
                }

                .quantity__content{
                    font-size: 1.5rem;
                    background-color: #f0f0f0;
                    padding: 5px 20px;
                    border-radius: 30px;
                    display: inline-block;

                    .quantity__number{
                        margin: 0 10px;
                        display: inline-block;
                        width: 25px;
                        text-align: center;
                    }
                }

                
            }
        }

        .product__price.price {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 40px;

            .price__title {
                opacity: .5;
            }

            .price__number {
                font-size: 2rem;
            }
            
        }

        .product__content-container{
            flex: 1 1 100%;
        }

        .tab {
            margin-top: 40px;

            .tab__titles {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                margin-bottom: 20px;

                .tab__title {
                    padding: 10px 20px;
                    border-radius: 40px;
                    color: black;
                    background-color: #f0f0f0;

                    &.active {
                        background-color: #574e48;
                        color: white;
                    }

                    &:hover {
                        background-color: #574e48;
                        color: white;
                        box-shadow: 0 0 0 3px #574e48;
                    }
                }
            }
        }

        .product__text {
            //margin-top: 40px;
        }

        .product__property {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
    }
}