.aside {
  padding: 3% 0;

  .nav {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    border-radius: 10px;
    overflow: hidden;
    min-width: 150px;

    .item {
      padding: 10px 20px;

      &.active {
        background-color: var(--primary);
        background: linear-gradient(
          141deg,
          var(--primaryDark) 0%,
          var(--primary) 100%
        );
        color: white;
      }
    }

    .dash {
      width: 80%;
      height: 1px;
      background-color: rgb(117 117 117 / 50%);
      margin: 10px auto;
    }
  }
}
